@CHARSET "UTF-8";

/* Tablet Device : 641 ~ 768 */
/* @media screen and (min-width:641px){
} */
/* Desktop Device : 1024 이상 min-width:1024px*/
/* 모든 Device를 위한 공통 로드 */


/* 641이상 */


body {
    font-size:small;
    font-family:'arial';
    background:url(../images/black.jpg) center center no-repeat;
    background-color:black;
    background-size:cover;
  /* height:100%;   */
}
.section {
    /* font-size:1.1em; */
    width: 400px;
    margin: 0 auto;
}

/* 회원가입 페이지 로고 */
  img {
    text-align:center;
    width:280px;
    height:100px;
  }
   .nut-join-section {
    margin-bottom:20px;
  }
  a {
    width:240px;
    height:82px;
    text-decoration:none;
    color:white;
    clear:left;
    margin: 0 auto 40px;
    } 
  h2 {
    margin-top: 50px;
    text-align:center;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
  }
  h3 {
    margin-top:10px;
    margin-bottom:10px;
  }
  .col-sm-5 {
    width:100%;
  }
/* 테이블 */
select[size] {
  height:31px;
  color:black;
  margin-bottom:4%;
}

/* FORM STYLES */
.form {
  color:white;
  padding:5px 20px;
  background-color:#191A14;
  border-radius:10px;
  opacity:0.85;
}
label {
	display:block;
}
legend {
  font-size: 160%;
  position: relative;
  color: #fff;}
.essential legend { top: -0.2em; left: -0.6em;}
.selection legend { top: -1em; left: -1em;}

span#feedback {
  color:red;
  float:right;
}
input {
  border: none;
  padding: 8px;
  line-height: 1.2em; 
  margin-bottom: 4%;
  font-size: 1.1em;
}

input {
    color:black;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="tel"] {
  box-shadow: inset 0px 2px 2px #000;
  outline: 0px;
}

.tel-box {
  display:inline;
  width:80%;
}
.full-box {
  width:95%;
}
.selection-address, .job, .gender {
	padding:0 15px;
}
#postcode-search {
	right:0;
}
#postcode {
	width:204px;
}

/* 부트스트랩 설정 변경 */
.help-block {
	position: absolute;
	top:0;
	right: 32px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

/* 버튼 css */
.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  position: relative;
  margin: 10px 0px 20px 10px;
  float: right;
  border-radius: 10px;
  font-size: 1.1em;
  color: #ffffff;
  text-decoration: none;
  width: 80px;
  height: 30px;
}

.red {
  background-color: #f84e51;
  border-bottom: 5px solid #f83d41;
  text-shadow: 0px -2px #ff0000;
}

.action-button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}



/* 모바일 Device : 0 ~ 640 */
@media screen and (max-width:640px) {
  .section {
    width: 100%;
    height:100%;
    margin: 0 auto;
  }

    .btn-confirm {
    width:100%;
    height:61px;
  }
    .btn {
    width: 100%;
    height: 60px;
  }
   #btn-n {
    background-position: 15% center;
  }
  #btn-k {
    background-position: 15% center;
  }
  #btn-f {
    background-position: 15% center;
  }
  h2 {
  margin-top:0px;
  margin-bottom:10px;
  }
  .nut-join-section {
    margin-bottom:0px;
  }
  .form {
    width:88%;
  }
}