@CHARSET "UTF-8";
/* 정렬방식 */
.menu-array {
  margin: 3px 0px 10px 10px;
}
.menu-array a {
  color: gray;
  font-size: 0.8em;
  text-decoration: none;
}
.menu-array a#selected {
  color: #343434;
  font-weight: bold;
}
/* 적응형 컨텍트 박스 */
.content-box {
  border: 1px solid gray;
  width:24%;
  height:250px;
  min-width:200px;
  position:relative;
  display: inline-block;
  overflow: hidden;
}