@CHARSET "UTF-8";
body {
  font-family: '맑은 고딕', sans-serif;
  font-size: small;
  background-color: #f0f0f0;
}
.container {
  max-width:960px;
  margin:auto;
}
/* 페이지 타이틀 */
.title-bar > span, .title-bar > hr {
  horizontal-align:middle;
  display: block;
}
.title-title {
  width: 110px;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #f0f0f0;
  padding-right:10px;
}
/* 정렬방식 */
.menu-array {
  margin: 3px 0px 10px 10px;
}
.menu-array a {
  color: gray;
  font-size: 0.8em;
  text-decoration: none;
}
.menu-array a#selected {
  color: #343434;
  font-weight: bold;
}
/* 적응형 컨텍트 박스 */
.content-box {
  border: 1px solid gray;
  width:24%;
  height:250px;
  min-width:200px;
  position:relative;
  display: inline-block;
  overflow: hidden;
}