@charset "utf-8"
/* 모바일 Device : 0 ~ 640 */
@media all and (max-width:640px) {
  .section {
    width:100%;
    height: 100%;
    margin: 0 auto;
  }
  img {
    text-align:center;
    width:100%;
    height:82px;
    margin: 50px 10px;
  }
   .nut-join-section {
    margin-bottom:40px;
  }
  a {
    width:240px;
    height:82px;
    text-decoration:none;
    color:black;
    clear:left;
    margin: 0 auto 40px;
    }
  h2 {
    margin-bottom: 40px;
    text-align:center;
  }
  .btn-confirm {
    width:100%;
    height:61px;
    background-color:#f84e51;
    display: inline-block;
    color: #fff !important;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
    font-size:1.2em;
    font-weight:600;
  }
  .btn {
    background-color:#fff;
    color: #a8aaac;
    font-weight: 600;
    padding-left: 77px;
    border: 1px solid #d5d8dc;
    overflow: hidden;
    width: 100%;
    height: 60px;
    margin-bottom:10px;
  }
  .connect-section {
    padding-top:30px;
    border-top: 1px solid #d5d8dc;
  }
  #btn-n {
    background: #fff url(../../../images/ico-sns-naver.png) no-repeat 114px center;
  }
  #btn-k {
    background: #fff url(../../../images/ico_sns_kakao.png) no-repeat 120px center;
  }
  #btn-f {
    background: #fff url(../../../images/ico_sns_facebook.png) no-repeat 109px center;
  }
}

/* Tablet Device : 641 ~ 768 */
/* @media screen and (min-width:641px){
} */
 
/* Desktop Device : 1024 이상 min-width:1024px*/
@media all and (min-width:641px) {
	.section {
	  width: 400px;
    height: 314px;
    margin: 0 auto;
	}
  img {
	  text-align:center;
	  width:180px;
	  height:90px;
  }
   .nut-join-section {
    margin-bottom:40px;
  }
	a {
		width:240px;
	  height:82px;
	  text-decoration:none;
	  color:black;
	  clear:left;
	  margin: 0 auto 40px;
	  }
	h2 {
    margin-top: 200px;
    margin-bottom: 40px;
    text-align:center;
  }
  .btn-confirm {
		width:400px;
		height:61px;
    background-color:#f84e51;
    display: inline-block;
    color: #fff !important;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
    font-size:1.2em;
    font-weight:600;
  }
  .btn {
    background-color:#fff;
    color: #a8aaac;
    font-weight: 600;
    padding-left: 77px;
    border: 1px solid #d5d8dc;
    overflow: hidden;
    width: 100%;
    height: 60px;
    margin-bottom:10px;
  }
  .connect-section {
    padding-top:30px;
    border-top: 1px solid #d5d8dc;
  }
  #btn-n {
    background: #fff url(../../../images/ico-sns-naver.png) no-repeat 114px center;
  }
  #btn-k {
    background: #fff url(../../../images/ico_sns_kakao.png) no-repeat 120px center;
  }
  #btn-f {
    background: #fff url(../../../images/ico_sns_facebook.png) no-repeat 109px center;
  }
}
 
/* 모든 Device를 위한 공통 로드 */

 
body {
	font-size:small;
	background-color:#f0f3f6;
}
/* .footer {
	position: relative;
    padding: 30px 0 29px;
    border-top: 1px solid #d3d5d8;
    background-color: #fff;
    text-align: center;
    letter-spacing: -0.1em;
    line-height: 20px;
    min-width: 992px;
    
} */
