@CHARSET "UTF-8";

#wrap-header {border-bottom: 4px solid #f97c00;}
.div-menu li > a.on { color: #f97c00; }

/* -------------------------------
  불매운동 리스트
--------------------------------*/
/* #select-year {
  color:black !important;
} */

#title-bar-boycott nav{ display: inline; }
#div-year {	float: right; }
#btn-write { margin-right: 10px; }

* :focus {
  outline-color: transparent;
  outline-style: none;
}
#select-year { display: inline-block;  margin-right: 10px; 
                  background-color: transparent; color: #ddd; 
                  border: 1px solid #999; border-radius: 5px; 
                  padding: 7px 5px; }
#select-year option { color: #252525;
                         border: 1px solid #999; border-radius: 5px;
                         padding: 10px 5px; }
.div-menu a#boycott {	color: red;}
.boycott-list-box {
	width: 98%;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 10px 10px;
	margin: 15px 10px;
	display: table;
	background-color: #fff;
}
.boycott-list-img {	width: 18%;	margin-right: 10px; }
.boycott-list-detail { width: 80%; float: right; padding: 5px 5px; }
.boycott-list-content {	margin-bottom: 20px; }
.boycott-list-content span a { text-decoration: none;	color: #000; }
.boycott-list-content span a:hover { text-decoration: underline; }
.boycott-list-title {	font-size: 1.5em;	font-weight: bold; }
.boycott-list-text { font-size: 1.2em; }
.boycott-list-btn .support-cnt {
	font-size: 1.5em;
	font-weight: bold;
	color: red;
}
.boycott-list-btn .list-add-btn { float: right; }
.hidden { display: none; }

.btn-bot-add {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-bot-delete {
    color: #fff;
    background-color: #32CD32;
    border-color: #32CD32;
}
.list-add-btn > p, .list-delete-btn > p, .list-update-btn > p {
	display: inline;
	float: right;
}
.list-add-btn:hover, .list-delete-btn:hover, .list-update-btn:hover { color : #fff; }
.list-add-btn, .list-update-btn, .list-delete-btn {
	padding:  8px 12px 0px 12px;
	float: right;
	margin-right: 10px;
}

.glyphicon { 
	float: left; 
	padding: 1px;
}
#btn-write { margin-bottom: 5px; float: right; }

/* ------------------------------------------
  가로가 760px 이하일 때 
--------------------------------------------*/
@media screen and (max-width: 760px)
{
  #title-bar-boycott { width: 97%; margin-left: 2.5%; }
	.boycott-list-box { width: 95%; }
	.boycott-list-detail { width: 78%; padding: 0 0; }
	.boycott-list-title { font-size: 1.3em; }
	.boycott-list-text { font-size: 1em; }
}
/* ------------------------------------------
  가로가 500px 이하일 때 
--------------------------------------------*/
@media screen and (max-width: 500px)
{
	#title-bar-boycott span.title-sub { display: none; }
	#div-year > span { display: none; }
  .boycott-list-box > a, .boycott-list-box img { display: none; }
  .boycott-list-detail { width: 100%; }
}