@CHARSET "UTF-8";

body {
  font-size: small;
  background-color: rgb(25, 25, 25);
}

.my-content-area {
  position: relative;
  font-size: 1.2em;
  max-width: 960px;
  width:100%;
  margin: 20px auto;
}

/* main contents area*/
.main-contents {
  /* max-width: 100%; */
  font-size: 1em;
  /* float: right; */
  margin-left: 17%;
  margin-right: 5%;
}

/* 기업 트리 */
ul {
  list-style: none;
}
.trigger-views, #trigger-layout {
  display: none;
}
.pure-tree {
  text-align: left;
  display: block;
}
.pure-tree.main-tree {
  width: 100%;
  display: inline-block;
}
.pure-tree:not(.main-tree) {
  padding-left: 1.2em;
}
.pure-tree:not(.main-tree) li {
  overflow: hidden;
  height: 0;
  display: block;
}
.pure-tree label {
  display: block;
  cursor: pointer;
  color: #717780;
  border-bottom: 1px dashed #B0B9C5;
  padding: 1.125em 1.125em 1.125em 0;
}
/* .pure-tree label:before {
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-block;
  font-family: 'FontAwesome', sans-serif;
  content: "\f114";
  padding-right: .75em;
} */
.pure-tree label:hover {
  color: #434a58;
  border-bottom-color: #434a58;
}
.pure-tree .pure-tree_link a {
  padding: 1.500em 1.125em 0.750em 0;
  display: block;
  border-radius: .2em;
  color: #717780;
  text-decoration: none;
}
.pure-tree .pure-tree_link a:hover {
  color: #434a58;
}
.pure-tree.nested {
  padding-left: 1.7em;
}
.pure-tree [type="checkbox"] {
  display: none;
}
.pure-tree [type="checkbox"]:checked + label {
  color: #434a58;
  border-bottom-color: #434a58;
}
.pure-tree [type="checkbox"]:checked ~ ul > li {
  height: auto;
}
