@CHARSET "UTF-8";

body {
  font-size: small;
  background-color: rgb(25, 25, 25);
}


.my-content-area {
  position: relative;
  font-size: 1.2em;
  max-width: 960px;
  width:100%;
  margin: 70px auto;
}

.main-contents {
  float: right;
  width: 80%;
  font-size: 0.9em;
}

.term-list > span {
  font: 1.4em bold;
  color: white;
}

.term-list ul {
  list-style-type: none;
  float: right;
}

.term-list ul > li {
  display: inline-block;
  padding: 0px 10px;
}

.term-list ul > li > a {
  text-decoration: none;
  color: rgb(70, 200, 115);
}

.term-list ul > li:nth-child(1) {
  border-right: 1px solid rgb(70, 200, 115);;
}

.term-list ul > li:nth-child(2) {
  border-right: 1px solid rgb(70, 200, 115);;
}

.term-list ul > li:nth-child(3) {
  border-right: 1px solid rgb(70, 200, 115);;
}

.purchase-table { 
  border: 5px solid rgb(47, 47, 47);
  width: 100%;
}

.purchase-list-title, .purchase-table-date, 
.purchase-price, .delivery-date, .purchase-review {
  text-align: center;
} 

.list-img-span > img {
  width: 20%;
  max-height:95px;
  margin: 2px 0px 0px 10px;
}

.purchase-list-title {
  background-color: #d5d5d5;
  margin: 0;
  text-align: center;
}

.purchase-list-title th {
  background-color: rgb(47, 47, 47);
  text-align: center;
  color: white;
  padding-bottom: 4px;
}

.purchase-table tr {
  background-color: white;
  color: black;
}

.purchase-list {
  text-align: left;
  width: 50%;
}

.purchase-list div {
  width: 75%;
  margin: 5px 0px 0px 0px;
  float: right;
}

.purchase-list p {
  margin: 0px 0px 0px 0px;
  font: 0.9em normal;
  line-height: 150%;
}

.review-btn {
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
}

.review-btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.review-btn-red {
  background-color: rgb(70, 200, 115);
  box-shadow: 0px 5px 0px 0px #17b45b;
}

.review-btn-red:hover {
  background-color: #12d55b;
  color: white;
}
.review-btn-completed {
	display:none;
	border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  position: relative;
}
/* popup */
.modal > .close{
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: rgba(0,0,0,1);
  color: #fff;
  cursor: pointer;
  border: 0;
}
.mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(85,85,85,0.5);
  z-index: 500;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}
.modal{
  position: fixed;
  top: 15%;
  left: 50%;
  width: 500px;
  height: 80%;
  max-height: 520px;
  margin-left: -200px;
  background: #ffffff;
  z-index: 10000;
  display:inline-block;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(45px);
}
.active{
  visibility: visible;
  opacity: 1;
}
.active + .modal{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
#purchase-review {
	position:absolute;
  font-size: 1.5em;
  font-weight:bolder;
  padding: 5px 10px;
  color:black;
}
#purchase-review-contents {
  position:absolute;
  top:50px;
  height:420px;
  width:100%;
}
.purchase-image {
	position:absolute;
	height:100px;
	width:100px;
	top:10px;
	left:10px;
}
.purchase-image img {
	height:100%;
  width:100%;
}
.purchase-title {
	position:absolute;
	left:120px;
	top:20px;
	height:40px;
	width:370px;
	color:black;
	font-size:1.3em;
}
.purchase-percent {
  position:absolute;
  left:120px;
  top:60px;
  width:370px;
  height:20px;
  color:#808080;
  font-size:0.9em;
}
.purchase-delivery {
  position:absolute;
  left:120px;
  top:80px;
  width:370px;
  height:20px;
  color:#808080;
  font-size:0.9em;
}
.purchase-percent > div, .purchase-delivery > div {
  position:absolute;
  top:0;
  left:70px;
  height:20px;
}
.purchase-review-area {
	border:1px solid #c0c0c0;
  position:absolute;
  top:130px;
  left:10px;
  width:480px;
  height:250px;
}
.purchase-review-area > span {
	position:absolute;
	top:7px;
	left:10px;
	color:#808080;
	font-size: 0.8em;
}
#textarea {
	color:black;
	margin-top:30px;
	margin-left:10px;
}
.purchase-review-message {
	position:absolute;
	top:383px;
	right:5px;
	width:480px;
	height:20px;
	color:#808080;
	font-size: 0.8em;
	text-align: right;
}
.purchase-review-button {
	position:absolute;
  top:465px;
  margin-left:200px;
  font-size: 1.1em;
}
.btn-success.active:hover, .btn-success.active:focus {
	background-color: none;
	border-color:none;
}
.btn-success {
  color: #fff;
  background-color: #bfdabf;
  border-color: #99d699;
}

@media screen and (max-width: 760px)
{
  .main-contents {
  width:100%;
  float:left;
  max-width:95%;
  margin-left:2%;
  margin-bottom:30px;
  }
  .my-content-area {
    margin:10px auto;
  }
} 
