@CHARSET "UTF-8";

body {
  font-size: small;
  background-color: rgb(25, 25, 25);
}


.my-content-area {
  position: relative;
  font-size: 1.2em;
  max-width: 960px;
  width:100%;
  margin: 20px auto;
}

.main-contents {
  float: right;
  width: 80%;
  font-size: 0.9em;
}

.term-list > span {
  font: 1.4em bold;
  color: white;
}

.term-list ul {
  list-style-type: none;
  float: right;
}

.term-list ul > li {
  display: inline-block;
  padding: 0px 10px;
}

.term-list ul > li > a {
  text-decoration: none;
  color: rgb(70, 200, 115);
}

.term-list ul > li:nth-child(1) {
  border-right: 1px solid rgb(70, 200, 115);;
}

.term-list ul > li:nth-child(2) {
  border-right: 1px solid rgb(70, 200, 115);;
}

.term-list ul > li:nth-child(3) {
  border-right: 1px solid rgb(70, 200, 115);;
}

.purchase-table { 
  border: 5px solid rgb(47, 47, 47);
  width: 100%;
}

.purchase-list-title, .purchase-table-date, 
.purchase-price, .delivery-date, .purchase-review {
  text-align: center;
} 

.list-img-span > img {
  width: 20%;
  max-height:95px;
  margin: 2px 0px 0px 10px;
}

.purchase-list-title {
  background-color: #d5d5d5;
  margin: 0;
  text-align: center;
}

.purchase-list-title th {
  background-color: rgb(47, 47, 47);
  text-align: center;
  color: white;
  padding-bottom: 4px;
}

.purchase-table tr {
  background-color: white;
  color: black;
}

.purchase-list {
  text-align: left;
  width: 50%;
}

.purchase-list div {
  width: 75%;
  margin: 5px 0px 0px 0px;
  float: right;
}

.purchase-list p {
  margin: 0px 0px 0px 0px;
  font: 0.9em normal;
  line-height: 150%;
}

.review-btn {
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
}

.review-btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.review-btn-red {
  background-color: rgb(70, 200, 115);
  box-shadow: 0px 5px 0px 0px #17b45b;
}

.review-btn-red:hover {
  background-color: #12d55b;
  color: white;
}
