@CHARSET "UTF-8";

/* side menu  CSS */
.my-side-menu {
  width: 17%;
  background-color: rgb(70, 30, 30);
  float: left;
  height: 100px;
}

.my-side-menu h2 {
  text-align: center;
  color: white;
}
 
.my-side-menu ul {
  background-color: rgb(100, 25, 25);
  list-style-type: none;
  overflow: hidden;
}

.my-side-menu ul>li {
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  
}

.my-side-menu ul>li>a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}

.my-side-menu ul>li>a:hover {
  background-color: #802525;
}
/* side menu  CSS */

@media screen and (max-width: 760px)
{
  .my-side-menu {
    width: 100%;
    background-color: rgb(70, 30, 30);
    float: left;
    height: 35px; 
    margin-bottom: 10px;
  }
  
  .my-side-menu h2 {
    text-align: center;
    color: white;
    display:none;
  }
   
  .my-side-menu ul {
    background-color: rgb(100, 25, 25);
    list-style-type: none;
    padding:5px 1%; 
    overflow: auto;
    margin:0 auto;
    text-align: center;
  }
  
  .my-side-menu ul>li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    display:inline-block;
  }
  
  .my-side-menu ul>li>a {
    padding: 5px;
  }
  
  .my-side-menu ul>li>a:hover {
    background-color: #802525;
  }
}