@CHARSET "UTF-8";

.title-title { background-color: transparent; color: #fff; font-size: 1.6em; }
.title-sub { color: #ddd; font-size: 1em; }

div { margin-bottom: 10px; }
.edit-text { color: #ddd; font-size: 1em; }
.edit-input {
	width: 100%;
	margin: 3x 0 3px 0;
	padding-bottom: 10px;
}

div#div-article { border-bottom-color: #ddd; border-radius: 5px; }
/* .input-text-el.article { width: 50%; } */

.edit-btn {
	float: right;
	margin-left: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1em 0 12px;
  padding-left: 0;
  background: none;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #999;
  /*Some sibling magic happens */
}
input[type="text"]:focus + .separator,
input[type="password"]:focus + .separator {
  -webkit-transform: scaleX(1) translateY(-2px);
          transform: scaleX(1) translateY(-2px);
  opacity: 1;
}

.separator {
  height: 3px;
  width: 100%;
  background: #68B3FF;
  display: block;
  -webkit-transform: scaleX(0) translateY(-2px);
          transform: scaleX(0) translateY(-2px);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  opacity: 0;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

/**
* Form Reset - remove focus highlighting
*/
* :focus {
  outline-color: transparent;
  outline-style: none;
}