@CHARSET "UTF-8";

#div-footer { background-color: #000; color: #fff;
              text-align: center; padding-top: 15px;
              height: 50px;
              margin-top: 20px; 
              position: absolute; bottom: 0; width: 100%; } 
              