@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); /*font-family: ‘Noto Sans KR’ ;*/
@font-face{ font-family: godo; src: url(../font/GODOM.TTF); } 
@font-face{ font-family: bmjua; src: url(../font/BMJUA_ttf.ttf); } 
@font-face{ font-family: bmdohyeon; src: url(../font/BMDOHYEON_ttf.ttf); } 
@font-face{ font-family: seoul; src: url(../font/seoulM.ttf); } 
/* font-family: bmdohyen, '궁서'; */

#wrap-header {
  width: 100%;
  height: 60px;
  display: table;
  font-family: 'Jeju Gothic', sans-serif;
  background-color: #000;
}
#header {
  height: 60px;
  /* padding: 0 15px; */
  display: table-cell;
  vertical-align: middle;
}
.header-sub { height: 90%; float: left; }

/* 숨은메뉴-토글버튼 */
.div-hidden-box { display: none; padding-top: 10px; }
.div-hidden-box #btn-show-hidden {
  font-size: 2em;
  color: #f00;
  border-bottom:0 none;
  text-decoration: none;
}

/* 숨은메뉴-메뉴 */
.div-hidden-box .div-menu-hidden {
  width:100%;
  height: 100%;
  overflow:hidden;
  display: none;
  background:#343434;
  position:absolute;
  left:0;
  top:60px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  z-index:100;
}
.div-hidden-box .div-menu-hidden.on { display:block; }

.div-menu-hidden ul, .div-menu-hidden ul li {
  display: block;
  padding: 0px 20px;
}
.div-menu-hidden li:first-child { padding-top: 20px; }
.div-menu-hidden li a { color: #fff; text-decoration: none; }
.div-menu-hidden li a:hover { color: #c0c0c0; }

/* 로고 */
.div-logo img {
	width: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  /* height: 50px; */
}

/* 주메뉴 */
.div-menu {
  display: table-cell;
  padding-top: 15px;
  float: right;
  font-size: 1.2em;
}
.div-menu li { display: inline; }
.div-menu li a.menu {
  float: left;
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
}
.div-menu li > a.on { color: #f00; }
.div-menu li > a.off { color: #777; }
.div-menu li a.menu:hover { color: red; }
.div-menu li span.menu-divider { float: left; color: #323338; }

/* 검색 */
.div-menu-search { display: table-cell; float: right; padding-top: 10px; }
.div-menu-search #btn-search {
	text-decoration: none;
	font-size: 1.5em;
	color: #aaa;
	padding: 5px 3px;
	float: right;
}
.div-menu-search .div-search {
  width:100%;
  height: 100%;
  overflow:hidden;
  display: none;
  background:#ffffff;
  position:absolute;
  left:0;
  top:60px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  z-index:100;
}
.div-menu-search .input-search {
  position: absolute;
  top: 40%;
  font-size: 5em;
  width: 100%;
  text-align: center;
}
.div-menu-search label.input-search { color: #808080; display: block; }
.div-menu-search label.input-search.focus { color: #c0c0c0; }
.div-menu-search label.input-search.off { color: #fff; }
.div-menu-search label.input-search.hover { color: #343434; }
.div-menu-search #input-search {
  border: none;
  background-color: transparent;
  outline: none;
}
.div-menu-search .div-search.on { display: block; padding: 0; }
.div-menu-search #btn-login { font-size: 1em;	float: right; }

/* 소개글 */
#div-intro {
  width: 100%;
  height: 280px;
  display: table;
  margin-bottom: 2%;
  font-family: bmdohyeon, sans-serif;
}
#div-intro #div-intro-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#div-intro img { width: 10%; }
#div-intro span { font-size: 1.3em; color: #fff; margin-top: 10px; }
#div-intro-text span#text-border { color: #f00; font-size: 2.5em; }
#div-intro-none {	width: 100%; height: 20px; }

/* 하단 플로팅 메뉴 */
.div-floating { 
	display: none; 
  /* display: table-cell; */
  position: fixed; 
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0; 
  padding-top: 8px;
  background-color: #444;
  z-index: 9999;
}
.div-floating li { display: inline; }
.div-floating a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 24%;
}
.div-floating a:hover { color: #f00; }
.div-floating .nav-down { bottom: -30px; transition: 0.2s; }

/* ------------------------------------------
  가로가 760px 이하일 때 
--------------------------------------------*/
@media screen and (max-width: 760px)
{
	/* 숨은 메뉴 */
	.div-hidden-box { width: 32%; display: block;	}
	.div-hidden-box .div-menu-hidden { display: none;	}
	.div-menu { display: none; }
	
	/* 소개글 */
	.container.main { background-size: 100% 310px; }
	#div-intro { height: 250px; }
	#div-intro span { font-size: 1.1em;	}
	#div-intro span#text-border { font-size: 2.0em;	}
	
	/* 로고 */
	.div-logo { width: 32%;	}
	
	/* 검색 */
	.div-menu-search { width: 32%; }
}
/* ------------------------------------------
  가로가 500px 이하일 때 
--------------------------------------------*/
@media screen and (max-width: 500px)
{
	/* 소개글 */
	.container.main { background-size: 100% 280px; }
	#div-intro { height: 220px; }
	#div-intro span { font-size: 1em;	}
	#div-intro span#text-border { font-size: 1.5em; }
	
	/* 하단 플로팅 메뉴 */
	/* .div-floating { display: table-cell; } */
	
}