@CHARSET "UTF-8";

/* Tablet Device : 641 ~ 768 */
/* @media screen and (min-width:641px){
} */
/* Desktop Device : 1024 이상 min-width:1024px*/
/* 모든 Device를 위한 공통 로드 */


/* 641이상 */

html {
  height:100%;
}
body {
    font-size:small;
    background-color:#f0f3f6;
    background: url(https://d3sz5r0rl9fxuc.cloudfront.net/assets/join_login/bg_login-7a6263c6ffe0ef1396835fef16ef16a4e1106ab1b3a908d421b1128cc76439dd.jpg) center center no-repeat;
    color:white;
}
.section {
    width: 400px;
    height: 314px;
    margin: 0 auto;
}

  img {
    text-align:center;
    width:280px;
    height:100px;
  }
   .nut-join-section {
    margin-bottom:40px;
  }
  a {
    width:240px;
    height:82px;
    text-decoration:none;
    color:white;
    clear:left;
    margin: 0 auto 40px;
    }
  h2 {
    margin-top: 150px;
    margin-bottom: 40px;
    text-align:center;
  }
  
/* 테이블 */

select {
  height:20px;
}
p {
   font-weight:bold;
   font-size:1.1em;
}

table.t {
  padding: 5px 0 5px 0;
}
tbody th {
  padding:10px;
}

tbody > tr > td.line {
  height:2px;
  background-color:#FFC8C3;
}

.form {
  color:white;
  padding:10px 10px 0px 10px;
  background-color:#191A14;
  border-radius:10px;
  opacity:0.85;
}

.addr {
  width:300px;
  display:block;
}

/* 버튼 css */
.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  position: relative;
  margin: 10px 0px 20px 10px;
  float: right;
  border-radius: 10px;
  font-size: 1.1em;
  color: #1b2458;
  text-decoration: none;
  width: 80px;
  height: 30px;
}

.yellow {
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}






/* .footer {
  position: relative;
    padding: 30px 0 29px;
    border-top: 1px solid #d3d5d8;
    background-color: #fff;
    text-align: center;
    letter-spacing: -0.1em;
    line-height: 20px;
    min-width: 992px;
    
} */
/* 모바일 Device : 0 ~ 640 */
@media screen and (max-width:640px) {
  .section {
    width: 100%;
    height:100%;
    margin: 0 auto;
  }

    .btn-confirm {
    width:100%;
    height:61px;
  }
    .btn {
    width: 100%;
    height: 60px;
  }
   #btn-n {
    background-position: 15% center;
  }
  #btn-k {
    background-position: 15% center;
  }
  #btn-f {
    background-position: 15% center;
  }
  h2 {
  margin-top:0px;
  margin-bottom:10px;
  }
  .nut-join-section {
    margin-bottom:0px;
  }
  .form {
    width:94%;
  }
  .addr {
    width:100%;
    display:block;
  }
}