@CHARSET "UTF-8";

/* side menu  CSS */
.my-side-menu {
  width: 17%;
  background-color: rgb(70, 30, 30);
  float: left;
}

.my-side-menu h2 {
  text-align: center;
  color: white;
}

.my-side-menu ul {
  background-color: rgb(100, 25, 25);
  list-style-type: none;
  overflow: hidden;
}

.my-side-menu ul>li {
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  
}

.my-side-menu ul>li>a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}

.my-side-menu ul>li>a:hover {
  background-color: #802525;
}
/* side menu  CSS */