@CHARSET "UTF-8";

body {
  font-size: small;
  background-color: rgb(25, 25, 25);
}

.my-content-area {
  position: relative;
  font-size: 1.2em;
  max-width: 960px;
  width:100%;
  margin: 20px auto;
}

/* main contents area*/
.main-contents {
  max-width: 80%;
  font-size: 1.1em;
  float: right;
}