@CHARSET "UTF-8";
#wrap-header { border-bottom: 4px solid #009900; }
.div-menu li > a.on { color: #009900; }

#wrap-content {
	/* border:1px solid red; */
}
/* 후기 타이틀 부분 */
.review-detail-title {
	/* border:1px solid red; */
	position:relative;
	height:40px;
}
.review-detail-title-subject {
	position:absolute;
	left:5px;
	bottom:5px;
	font-size:1.2em;
}
.review-detail-title-title {
	position:absolute;
	left:90px;
  bottom:5px;
	font-size:1.5em;
}
.review-detail-title > a {
	position:absolute;
	right:5px;
	bottom:0;
	font-size:1.0em;
	line-height: 0.8;
	height:25px;
}
/* 게시글 관련 정보 */
.review-detail-info {
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	font-size:1.0em;
	position:relative;
	width:100%;
	height:50px;
	margin:10px auto 0 auto;
}
.review-detail-info-image {
	/* border:1px solid red; */
  position:absolute;
  width:40px;
  height:40px;
  border-radius:20px;
  overflow:hidden;
  left:5px;
  top:5px;
}
.review-detail-info-image > img {
	width:100%;
	height:100%;
}
.review-detail-info-nickname {
	/* border:1px solid red; */
	position:absolute;
	left:50px;
	top:15px;
}
.review-detail-info-date {
	/* border:1px solid red; */
	position:absolute;
	right:5px;
	top:5px;
}
.review-detail-info-viewcount {
	/* border:1px solid red; */
	position:absolute;
	right:145px;
	bottom:5px;
}
.review-detail-info-hoducount {
	/* border:1px solid red; */
	position:absolute;
	right:40px;
  bottom:5px;
}
/* 게시글 내용 */
.review-detail-cont-box {
	/* border-bottom:1px solid #ffffff; */
	padding:10px 0;
	margin-bottom:10px;
}
.review-detail-content {
	width:98%;
	min-height: 570px;
	margin:auto;
  padding: 10px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}
/* .review-detail-content > pre {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0;
} */
/* 버튼 */
#wrap-btn {
	margin:10px auto 0 auto;
	width:250px;
}
#btn-hodu > img {
	margin-left:-15px;
	width:30px;
	height:30px;
}
#btn-hodu {
	color: #fff;
	background-color: #525252;
	border: 1px solid #8e8e8e;
	width:250px;
	font-size:1.3em;
}
#btn-hodu:hover {
	background-color: #009900;
  border: 1px solid #009900;
}
#btn-update, #btn-list, #btn-delete { 
	margin-bottom: 5px; margin-top: 10px; float: right; }
#btn-update, #btn-delete { display: none; }

/* 댓글 */
.review-detail-cont-box > span {
	font-size: 1.2em;
	margin-top:5px;
	margin-left:5px;
}
.review-detail-comment-others {
	position:relative;
	height:50px;
	width:98%;
	margin:5px auto;
}
.review-detail-comment-others:hover > .comment-report {
	visibility:visible;
}
.comment-report {
	visibility:hidden;
	position:absolute;
	margin:0;
	top:10px;
  right:5px;
  width:80px;
  height:25px;
  line-height:0.8;
}
.review-detail-comment-others-nick {
	top:5px;
	left:60px;
}
.review-detail-comment-others-sentence {
	position:absolute;
	top:25px;
  left:60px;
}
.report-btn {
  visibility:hidden;
  position: absolute;
  right: 10px;
  top:25%;
}
.report-title {
  border-bottom:1px solid #c0c0c0;
  position: relative;
  width:200px;
  font-size:1.1em;
  padding: 5px;
  color:black;
}
.report-menu {
  visibility:hidden;
  box-shadow: -2px -2px 15px #808080;
  border-radius:5px;
  position: absolute;
  width:220px;
  height:220px;
  right:5px;
  bottom:90%;
  background-color: white;
  color:black;
}
.report-radio-btn {
  padding: 0 5px;
}
.report-submit-btn {
  position: absolute;
  bottom: 5px;
  left: 80px;
  padding: 0 20px;
}
.review-detail-comment-input {
	position:relative;
	width:98%;
	height:40px;
	margin:5px auto;
}
.form-control {
	position:absolute;
	left:0;
	width:90%;
}
.review-detail-comment-input > #wrap-btn {
	position:absolute;
	margin:0;
	right:5px;
  width:60px;
}

/* 댓글 수정 삭제 관련 CSS */
.hidden {
  display: none;
}

.comment-write-box { height: 50px;}
.comment-write-textarea {
  width: 80%;
  height: 30px;
  color: black;
  margin-left: 60px;
  margin-top: 25px; 
}

.inner-comment-update-btn, .inner-comment-cancel-btn {
  margin-bottom: 25px;
  height: 60%;
  text-align: center;
}


.comment-delete-btn {
	width: 50px;
  visibility:hidden;
  position: absolute;
  right: 5px;
  top:10px;
  text-align: center;
}

.comment-update-btn {
	width: 50px;
  visibility:hidden;
  position: absolute;
  right: 60px;
  top:10px;
  text-align: center;
}

.review-detail-comment-others:hover > .comment-update-btn {  visibility:visible; }
.review-detail-comment-others:hover > .comment-delete-btn {  visibility:visible; }

/* 신고 */
div#div-report{
	background-color: #fff;
	border: 2px solid #eee; 
	border-radius: 5px;
	width: 250px;
	height: 260px;
	padding: 10px;
	display: none;
	top: 40px;
	right: 5px;
	position: absolute;
	z-index: 100;
}
div#div-report > hr { margin: 5px 0 10px 0;}
div#div-report > a { float: right;}
div#div-report.open { display: block; }
span#report-title {
	color: #252525;
	font-size: 1.2em;
	font-weight: bold;
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 1em;
  color: #000;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #009900;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #009900;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}



/* ------------------------------------------
  가로가 760px 이하일 때 
--------------------------------------------*/
@media screen and (max-width: 760px)
{
  .form-control {width:85%;}
  .comment-report {
	  visibility:hidden;
	  position:absolute;
	  margin:0;
	  top:5px;
	  right:5px;
	  font-size:0.9em;
	  width:80px;
	  height:20px;
	  line-height:0.8;
	}
}
/* ------------------------------------------
  가로가 500px 이하일 때 
--------------------------------------------*/
@media screen and (max-width: 500px)
{
  .form-control {width:80%;}
  .review-detail-title-subject {
	  left:5px;
	  bottom:30px;
	  font-size:1.2em;
	}
	.review-detail-title-title {
	  left:5px;
	  bottom:0;
	  font-size:1.4em;
	}
	.review-detail-title > a {
	  right:5px;
	  bottom:30px;
	}
	.review-detail-content { min-height: 400px; }
	/* .review-detail-content > pre {font-size:0.9em;} */
}

