@CHARSET "UTF-8";

#wrap-header { border-bottom: 4px solid #009900; }
.div-menu li > a.on { color: #009900; }

/*----------------------
  불량후기 리스트
----------------------*/
* :focus {
  outline-color: transparent;
  outline-style: none;
}
.div-menu a#review { color: red; }

/* 글쓰기버튼 */
#btn-write { margin-bottom: 5px; float: right; }

/* 불매후기 리스트 테이블 */
.table-review { width: 100%; font-size: 1.1em; }
.table-review #no {	width: 5%; }
.table-review #title { width: 52%; }
.table-review #writer, .table-review #reg-date { width: 12%; }
.table-review #view-cnt, .table-review #hodu-cnt { width: 8%; }
.table-review > tbody > tr { 
	background-color: #fff; 
	border-bottom: 1px solid #ddd; 
}
.table-review > thead > tr { border-top: 1px solid #999; }
}
.table-review > thead > tr th {
	padding: 5px;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  background: transparent;
  color:#ffffff;
}
.table-review > tbody > tr > td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	color:black;
}
.table-review > tbody > tr > td.td-title { text-align: left; }
.review-list-img { width: 17%; }
.table-review > tbody > tr > td > a.table-review-img { text-decoration: none; }
.table-review-title {	
	width: 80%;	display: 
	inline-block; 
	vertical-align: middle; 
}
.table-review-title a {	color: #343434;	text-decoration: none; }
.table-review-title a:hover {	text-decoration: underline; }

/* 게시판검색 */
#select-search { display: inline-block;  margin-right: 10px; 
                  background-color: transparent; color: #ddd; 
                  border: 1px solid #999; border-radius: 5px; 
                  padding: 7px 5px; }
#select-search option { color: #252525;
                         border: 1px solid #999; border-radius: 5px;
                         padding: 10px 5px; }
.board-search {	padding-right: 20px; }
.board-search > li { 
	list-style: none; 
	display: inline-table; 
	vertical-align: middle; 
}
.board-search > li > #input-reviewSearch { padding: 5px 0; background-color: #252525; 
                             border: 1px solid #999; border-radius: 5px; }
.board-search #btn-reviewSearch { padding: 4px; height: 30px; }
.dropup, .dropup button { width: 100px; }

/* 페이지 이동 */
.pagination { width: 100%; margin: 5px 0px 30px 0px; }
.pagination > li > a { color: gray; }
.pagination > li.active > a, .pagination > li.active > span,
.pagination > .active > a:hover, .pagination > li.active > span:hover,
.pagination > .active > a:focus, .pagination > li.active > span:focus
 {
	background-color: #009900;
	color: white;
	border: 1px solid gray;
  cursor: pointer;
}
.pagination > li.disabled > a {
  color: #ddd;
  pointer-events: none;
  cursor: default;
}
.pagination > li.disabled > a:hover, .pagination > li.disabled > span:hover,
.pagination > li.disabled > a:focus, .pagination > li.disabled > span:focus {
	background-color: #fff;
	color: #ddd;
	pointer-events: none;
  cursor: default;
}

/* ------------------------------------------
  가로가 760px 이하일 때 
--------------------------------------------*/
@media screen and (max-width: 760px)
{
	#title-bar-review { width: 97%; margin-left: 2.5%; }
	th#view-cnt, td.view-cnt { display: none; }
}
/* ------------------------------------------
  가로가 500px 이하일 때 
--------------------------------------------*/
@media screen and (max-width: 500px)
{
	#title-bar-review span.title-sub { display: none; }
	#btn-write { margin-right: 5px; }
	.table-review { font-size: 1em; }
  img.review-list-img, th#reg-date, td.reg-date { display: none; }
  div.table-review-title { width: 100%; }
  th#writer, td.writer { width: 15%; }
}