@CHARSET "UTF-8";
.deal-detail-container {
	/* border:1px solid red; */
	height:800px;
	width:100%;
	max-width:960px;
	position:relative;
	margin:auto;
}
/* 딜 제목 */
.deal-detail-title {
	/* border:1px solid red; */
	position:absolute;
	top:10px;
	max-width:960px;
	width:100%;
	font-weight:bold;
	text-align:center;
	font-size:2em;
}
/* 목록으로 돌아가기 */
#deal-btn {
	position:absolute;
	left:5px;
	
	top:70px;
}
/* 공유 아이콘 */
.share-icon {
	/* border:1px solid red; */
  position:absolute;
  right:0;
  top:60px;
  font-size:3em;
}
.share-icon:hover {
	cursor: pointer;
}
.share-icon > i:first-child:hover {
	color:#4099ff;
}
.share-icon > i:nth-child(2):hover {
  color:#3b5998;
}
.share-icon > i:last-child:hover {
  color:#2ac7e1;
}
/* 메인 이미지 */
.deal-detail-img {
	/* border:1px solid red; */
  position:absolute;
  left:30px;
  top:180px;
  width:50%;
  height:auto;
  overflow:hidden;
}
.deal-detail-img > img {
	width:auto;
	height:100%;
	margin-left: auto;
  margin-right: auto;
  display: block;
}
/* 딜 중요 정보 */
.deal-detail-infoset {
	/* border:1px solid red; */
  position:absolute;
  top:150px;
  right:30px;
  width:40%;
  height:300px;
}
.deal-detail-info {
	/* border:1px solid red; */
  position:relative;
  margin:25px 15px;
  width:100%;
}
.deal-detail-info-title {
	font-size:1.2em;
	padding-left:30px;
}
.deal-detail-info-cont {
	font-size:1.2em;
	float:right;
	padding-right:50px;
}
/* 버튼 */
.deal-detail-info-btn {
	/* border: 1px solid red; */
	position: absolute;
	width:100%;
	height:40px;
	left: 15px;
	margin-top: 30px;
}
/* 구매버튼 */
.purchase-btn{
	/* border:1px solid green; */
	position: absolute;
	width: 40%;
	height:40px;
}
.purchase-btn ul {
	list-style:none;
	position: absolute;
	left:-20px;
  top:-20px;
  width:100%;
}
.purchase-btn ul li a {
  display: inline-block;
  height: 40px;
  background: #ff0000;
  text-align: center;
  padding: 8px 30px 0 20px;
  position: absolute;
  margin: 15px 5px 0 0; 
  font-size: 1.2em;
  text-decoration: none;
  color: #ffffff;
}
.purchase-btn ul li a:after {
  content: "";
  border-top: 20px solid red;
  border-bottom: 20px solid red;
  border-left: 20px solid blue;
  position: absolute;
  right: -20px;
  top: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ff0000;
}
.purchase-btn ul li a:hover,
.wish-btn ul li a:hover {
  background: #2ac7e1;
}
.purchase-btn ul li a:hover:after,
.wish-btn ul li a:hover:after {
  border-left-color: #2ac7e1;
}
/* 위시버튼 */
.wish-btn {
  /* border:1px solid green; */
  position: absolute;
  width: 60%;
  height:40px;
  right:0;
}
.wish-btn ul {
  list-style:none;
  position: absolute;
  left:-20px;
  top:-20px;
  width:100%;
}
.wish-btn ul li a {
  display: inline-block;
  height: 40px;
  background: #808080;
  text-align: center;
  padding: 8px 10px 0 10px;
  position: absolute;
  margin: 15px 5px 0 0; 
  font-size: 1.2em;
  text-decoration: none;
  color: #ffffff;
}
.wish-btn ul li a:after {
  content: "";
  border-top: 20px solid red;
  border-bottom: 20px solid red;
  border-left: 20px solid blue;
  position: absolute;
  right: -20px;
  top: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #808080;
}

/* 딜 상세 컨텐츠 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.deal-detail-tabs {
  /* border:1px solid red; */
  position:absolute;
  top:460px;
  width:90%;
  max-width:900px;
  height:100%;
  margin:2em;
}

.deal-detail-navi {
  width: 100%;
  max-width:860px;
  height: 40px; 
  position: relative;
  background: rgba(255,0,0,0.7);
  z-index: 100;
}

.deal-detail-navi > ul {
  padding:0 20px 0 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.deal-detail-navi > ul li {
  display: inline-block;
  margin: 10px 10%;
}
.deal-detail-navi > ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
.deal-detail-navi > ul li a:hover {
  color: #34495E;
}
.deal-detail-navi a.active {
  border-bottom: 2px solid #000000;
}
.deal-detail-navi-cont {
  position: relative;
}
.deal-detail-navi-cont-title {
  /* border:1px solid #808080; */
  width:100%;
  margin:10px 0 10px 0;
  font-size:1.5em;
}
#deal-detail-navi1, #deal-detail-navi2, #deal-detail-navi3 {
  /* border:1px solid green; */
  padding:30px 10px 0 10px;
}
#deal-detail-navi1 img {
  display:block;
  margin:auto;
  width:90%;
}
.deal-detail-navi2-review {
  /* border:1px solid #ff0080; */
  padding:15px 0;
}

