@CHARSET "UTF-8";
.deal-detail-container {
	border:1px solid red;
	height:800px;
	width:100%;
	max-width:960px;
	position:relative;
}
/* 딜 제목 */
.deal-detail-title {
	border:1px solid red;
	position:absolute;
	top:10px;
	max-width:960px;
	width:100%;
	font-weight:bold;
	text-align:center;
	font-size:2em;
}
/* 공유 아이콘 */
.share-icon {
	border:1px solid red;
  position:absolute;
  right:0;
  top:60px;
  font-size:36px
}
/* 메인 이미지 */
.deal-detail-img {
	border:1px solid red;
  position:absolute;
  left:30px;
  top:150px;
  width:50%;
  height:auto;
  overflow:hidden;
}
.deal-detail-img > img {
	width:100%;
	height:100%;
	margin-left: auto;
  margin-right: auto;
  display: block;
}
/* 딜 중요 정보 */
.deal-detail-infoset {
	border:1px solid red;
  position:absolute;
  top:150px;
  right:30px;
  width:40%;
  height:250px;
}
.deal-detail-info {
	border:1px solid red;
  position:relative;
  margin:25px 0;
  width:100%;
}
.deal-detail-info-title, .deal-detail-info-cont{
	font-size:1.5em;
	padding-right:30px;
}
