@charset "UTF-8";
a,body{color:#58595b}
body,input
{font-family:'돋움',Dotum,sans-serif}
input.check,input.wcheck,span.check input{
    opacity:0
    }
a,a:hover{text-decoration:none}
a,abbr,acronym,address,applet,big,
blockquote,body,caption,cite,code,
dd,del,dfn,div,dl,dt,em,fieldset,font,
form,h1,h2,h3,h4,h5,h6,html,iframe,img,
ins,kbd,label,legend,li,object,ol,p,pre,
q,s,samp,small,span,strike,strong,sub,sup,
table,tbody,td,tfoot,th,thead,tr,tt,ul,var{
    margin:0;padding:0;border:0}
body,html{word-break:break-word}
body{font-size:12px;background:#f1f1f2}
.blind,.d-blind{
    top:0;width:1px!important;
    height:1px;visibility:hidden;
    font-size:0;line-height:0;
    left:0;overflow:hidden}
ol,ul{list-style:none}
img{border:0;vertical-align:middle}
em{font-style:normal}
table{
    border-collapse:collapse;
    border-spacing:0}
.indicator-mode{z-index:1}
.fixed{position:fixed}
.blind{position:absolute!important}
.d-blind,input.check,input.wcheck,span
.check input{position:absolute}
.tb-{display:none}
input.check+label:before,
input.check:checked+label:before,
input.wcheck+label:before,
input.wcheck:checked+label:before,
span.check input+span:before,
span.check input:checked+span:before{
    display:inline-block;width:16px;
    height:16px;ent:""}
input.check+label:before{
    background:url(/images/main.png) 0 -919px no-repeat;
    vertical-align:-3px;padding-left:5px}
body.msie7 input.check+label:before,
body.msie8 input.check+label:before{
    background:0 0}
input.check:checked+label:before{
    background:url(/images/main.png) 0 -942px no-repeat}
input.wcheck+label:before{
    background:url(/images/main.png) 0 -993px no-repeat;
    background-size:102px auto;
    vertical-align:-3px;padding-left:5px}
input.wcheck:checked+label:before{
    background:url(/images/main.png) 0 -972px no-repeat;
    background-size:102px auto}
body.msie7 input.wcheck+label:before,body.msie8 
input.wcheck+label:before{background:0 0}
span.check input+span:before{
	background:url(/images/main.png) 0 -919px no-repeat;
	vertical-align:-3px;padding-left:5px}
body.msie7 span.check input+span:before,body.msie8 
span.check input+span:before{background:0 0}
span.check input:checked+span:before{
	background:url(/images/main.png) 0 -942px no-repeat}
body.mobile.safari input[type=text]{-webkit-appearance:none}
.img30{width:30px;height:30px}
.accessmenu a:active,.accessmenu a:hover,
.accessmenu a:link,.accessmenu a:visited{
	position:absolute;top:-99999px;left:0;width:100%;
	z-index:999;color:#222;display:block;overflow:hidden}
.accessmenu a:active,.accessmenu a:focus,.accessmenu a:hover{
	top:0;padding:7px 0 5px;background-color:#1d60a7;
	color:#fff;text-decoration:none;font-weight:600;text-align:center}
.m-tscroll{-webkit-overflow-scrolling:touch}
body.mobile a:active,body.mobile a:hover,body.mobile a:visited{border:none;background:0 0}
