@CHARSET "UTF-8";

div {
	width: 960px;
  /* border: 1px solid red */;
}
.row {
	margin-left: 0px;
}

/*이미지 파일*/
#img-logo {
	width: 180px;
	height: 60px;
}
#img-search {
	width: 20px;
	height: 20px;
	margin: 0px;
	position: absolute;
	left: 2px;
	top: 2px;
}

/* 헤더 */
#header {
	height: 80px;
	position: relative;
} 
#logo {
	display: inline;
	line-height: 80px;
	color: #323338;
	vertical-align: middle;
}
#header nav ul.menu {
	position: absolute;
	top: 0px;
	right: 300px;
}
#header nav ul.search-login {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
}
#header nav ul.search-login li {
  margin-right: 5px;
}
#header nav ul.search-login li a{
  color: #343434;
  font-size: 15px;
	text-decoration: none;
}
#header nav li {
	float: left;
	list-style: none;
}
#header nav li a.menu {
	float: left;
	color: #323338;
	display: block;
	padding: 32px 5px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
#header nav li a.menu:hover {
  color: red;
}
.search-login {
	width: 300px;
	height: 25px;
}
.input-group {
	width: 150px;
	height: 25px;
}
.form-control {
	width: 200px;
	height: 25px;
}
#btn-search {
	width: 25px;
	height: 25px;
	background-color: white;
}

/* 소개글 */
#intro-div {
	background-color: #343434;
	height: 150px;
	display: table;
}
.text-center {
	font-size: 20px;
	display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.text-center span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.text-center span#txt-border {
	color: red;
	font-size: 30px;
	font-weight: bolder;
}