@CHARSET "UTF-8";

body {
	font-size: large;
}
.container {
	display: inline;
	padding: 0;
}
#header li {
	list-style: none;
}
#header a {
	text-decoration: none;
}
/* #header label, #btn-toggle, #nav-menu-hidden {
	display: none;
} */
#div-toggle > * {
	display: none;
}
#div-menu-hidden {
	height: 0;
	overflow: hidden;
	position: absolute;
}
#header > *, #div-menu li {
	display: inline;
}
/* 가로가 600px 이하일 때 */
@media screen and (max-width: 730px)
{
	#div-toggle > * { /* 숨은메뉴 아이콘 보이기 */
	  display: inline;
	}
	/* #header label {
	  display: inline;
	} */
	#div-menu-hidden ul > li {
	  display: block;
	}
	#div-toggle > #btn-toggle:checked + #div-menu-hidden {
	  height: auto;
	  position: relative;
	  border: 1px solid red;
	}
}

#content {
	height: 30em;
	background-color: gray;
}